@{
    ViewBag.Title = "Home Page";
}

<h2>Army Cadet Corps CADTRAK System</h2>
<p>
    Welcome to the Army Cadet Corps administration site.  To login, please select the link above (Must be an administrator!)
</p>
<div><img src=" @Url.Content("~/Content/themes/base/images/usarmycadetcorps.jpg")" alt="GoArmy"/></div>

